In [ ]:
import pandas as pd

import numpy as np

In [13]:
shop_data = pd.read_csv('../raw_data/sales_data.csv')

google_data = pd.read_csv('../raw_data/google_data.csv')

tiktok_data = pd.read_csv('../raw_data/tiktok_data.csv')

facebook_data = pd.read_csv('../raw_data/facebook_data.csv')

In [17]:
shop_data.shape

(1630, 4)

In [8]:
shop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1630 entries, 0 to 1629
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   day               1630 non-null   object
 1   shipping_country  1597 non-null   object
 2   orders            1630 non-null   int64
 3   total_sales       1630 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 51.1+ KB

In [12]:
shop_data.nunique()

day                  785
shipping_country       4
orders               141
total_sales         1323
dtype: int64

In [20]:
#shop_data.isna().sum()

In [21]:
#shop_data.duplicated().sum()

In [22]:
google_data.nunique()

Tag             34
WÃ¤hrungscode     1
Kosten          34
Conversions     34
Impressionen    34
Klicks          33
dtype: int64

In [23]:
tiktok_data.nunique()

Date                            154
Cost                            124
Impression                      154
Clicks (Destination)            143
Reach                           154
Total Complete Payment           25
Total Complete Payment Value    133
Currency                          1
dtype: int64

In [24]:
facebook_data.nunique()

Day                   859
Amount spent (EUR)    845
Impressions           857
Reach                 853
Link clicks           534
Reporting starts        1
Reporting ends          1
dtype: int64